[submodule "OmniAgent"]
	path = crates/OmniAgent
	url = https://github.com/OmniCloudOrg/OmniAgent
[submodule "OmniForge"]
	path = crates/OmniForge
	url = https://github.com/OmniCloudOrg/OmniForge
[submodule "OmniDirector"]
	path = crates/OmniDirector
	url = https://github.com/OmniCloudOrg/OmniDirector
[submodule "OmniCosmos"]
	path = services/OmniCosmos
	url = https://github.com/OmniCloudOrg/OmniForge-Dashboard
[submodule "Omni-CLI"]
	path = crates/OmniCLI
	url = https://github.com/OmniCloudOrg/Omni-CLI
[submodule "OmniOrchestrator"]
	path = crates/OmniOrchestrator
	url = https://github.com/OmniCloudOrg/OmniOrchestrator
[submodule "Lodestone"]
	path = crates/Lodestone
	url = https://github.com/OmniCloudOrg/Lodestone
[submodule "MegaTrix"]
	path = crates/MegaTrix
	url = https://github.com/OmniCloudOrg/MegaTrix
[submodule "crates/LibOmni"]
	path = crates/LibOmni
	url = https://github.com/OmniCloudOrg/LibOmni
[submodule "crates/Lighthouse"]
	path = crates/Lighthouse
	url = https://github.com/OmniCloudOrg/Lighthouse
