# Rust
/target/
*/target/
**/target/

# Docker
/docker/**
!/docker/compose.yml
!/docker/README.md

# Executables and Archives
*.exe
*.zip
*.glue

# Diagram Files
*.drawio.dtmp
*.drawio.bkp

# Ensure .vscode is correctly ignored (both file and directory)
.vscode/
*.vscode
**/.vscode/

# Temporary and backup files
*~
*.bak
*.tmp
*.temp
*.swp
*.swo

# Log files
*.log
logs/
**/logs/

# Build directories
build/
**/build/
dist/
**/dist/

# Node.js
node_modules/
**/node_modules/
npm-debug.log
yarn-error.log
.npm/

# Mac directory attributes
.AppleDouble
.LSOverride
Icon

# Windows specific
desktop.ini
$RECYCLE.BIN/
/OmniOrchestrator/db_data
